<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a xmlns:cc="http://creativecommons.org/ns#" href="{{ site.author_website }}" property="cc:attributionName" rel="cc:attributionURL">
          {{ site.author }}
        </a>
      </div>

      <div class="footer-col footer-col-2">
        {%- include license.html -%}
      </div>
    </div>

  </div>

</footer>
