$spacing-unit:     30px !default;

.footer-col-1 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(75% - (#{$spacing-unit} / 2));
  width:         calc(75% - (#{$spacing-unit} / 2));
}
